 @charset "utf-8";
/* CSS Document */

.footbg_s50407{ background:#ccc; height:160px;}
.foot_s50407{ width:1000px; margin:0 auto;}
.foot_s50407 ul{ padding-top:60px;}
.foot_s50407 li{ font-size:14px; color:#666666; text-align:center;padding-top:12px;}
.foot_s50407 a{font-size:14px; color:#666666; text-align:center;}