@charset "utf-8";
/* CSS Document */

.button_bule_333x36_s50331{ background:#19b394; width:333px; height:36px; line-height:36px;border:none; cursor:pointer; font-size:18px; color:#FFF; font-family:"微软雅黑";}
.editor_button_107x29_s50408{ width:107px; height:28px; background:#02ab8a;line-height:29px; font-size:14px;color:#FFF; font-family:"微软雅黑"; border:none; cursor:pointer;}

.button_green1_117x29_s50331{background:#19b394; width:117px; height:29px; line-height:29px;border:none; cursor:pointer; font-size:14px; color:#FFF; font-family:"微软雅黑";}
.button_green_117x29_s50331{background:#33cc99; width:117px; height:29px; line-height:29px;border:none; cursor:pointer; font-size:14px; color:#FFF; font-family:"微软雅黑";}
.button_orange_117x29_s50331{background:#ff6600; width:117px; height:29px; line-height:29px;border:none; cursor:pointer; font-size:14px; color:#FFF; font-family:"微软雅黑";}
.button_orange_82x29_s50410{ background:#ff6600; width:82px; height:29px; line-height:29px;border:none; cursor:pointer; font-size:14px; color:#FFF; font-family:"微软雅黑";}

.button_green_68x22_s50409{ background:#19b394; width:68px; height:22px;line-height:22px; border:none; cursor:pointer; font-size:12px; color:#FFF; font-family:"微软雅黑";}

.button_green_85x29_s50410{ background:#02ab8a; width:85px; height:29px; line-height:29px;border:none; cursor:pointer; font-size:14px; color:#FFF; font-family:"微软雅黑";}
.button_green1_85x29_s50410{ background:#33cc99; width:85px; height:29px; line-height:29px;border:none; cursor:pointer; font-size:14px; color:#FFF; font-family:"微软雅黑";}

.button_orange_131x25_s50413{background:#ff6600; width:131px; height:25px; line-height:25px;border:none; cursor:pointer; font-size:14px; color:#FFF; font-family:"微软雅黑";}
.button_green_104x30_s50413{background:#02ab8a; width:104px; height:30px; line-height:30px;border:none; cursor:pointer; font-size:14px; color:#FFF; font-family:"微软雅黑";}

.button_green_107x21_s50331{background:#33cc99; width:107px; height:21px; line-height:21px;border:none; cursor:pointer; font-size:12px; color:#FFF; font-family:"微软雅黑";}
.button_green_124x21_s50331{background:#33cc99; width:124px; height:21px; line-height:21px;border:none; cursor:pointer; font-size:12px; color:#FFF; font-family:"微软雅黑";}
.button_green_95x26_s50331{background:#19b394; width:95px; height:26px; line-height:26px;border:none; cursor:pointer; font-size:14px; color:#FFF; font-family:"微软雅黑";}
.button_green_72x22_s50331{background:#02ab8a; width:72px; height:22px; line-height:22px;border:none; cursor:pointer; font-size:14px; color:#FFF; font-family:"微软雅黑";}

/*-----------------按钮公共的--------------------------------------------*/
.public_button_location_clear ul{ overflow:hidden;}
.public_button_location_clear ul li{ float:left; display:inline;}
